@font-face {
    font-family: 'Quattrocento Sans';
    src: url("../fonts/quattrocentosans-bold-webfont.eot");
    src: url("../fonts/quattrocentosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-bold-webfont.woff") format("woff"), url("../fonts/quattrocentosans-bold-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-bold-webfont.svg#QuattrocentoSansBold") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Quattrocento Sans';
    src: url("../fonts/quattrocentosans-bolditalic-webfont.eot");
    src: url("../fonts/quattrocentosans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-bolditalic-webfont.woff") format("woff"), url("../fonts/quattrocentosans-bolditalic-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-bolditalic-webfont.svg#QuattrocentoSansBoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Quattrocento Sans';
    src: url("../fonts/quattrocentosans-italic-webfont.eot");
    src: url("../fonts/quattrocentosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-italic-webfont.woff") format("woff"), url("../fonts/quattrocentosans-italic-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-italic-webfont.svg#QuattrocentoSansItalic") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Quattrocento Sans';
    src: url("../fonts/quattrocentosans-regular-webfont.eot");
    src: url("../fonts/quattrocentosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocentosans-regular-webfont.woff") format("woff"), url("../fonts/quattrocentosans-regular-webfont.ttf") format("truetype"), url("../fonts/quattrocentosans-regular-webfont.svg#QuattrocentoSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}
.hljs-name,
.hljs-strong {
  font-weight: bold;
}
.hljs-code,
.hljs-emphasis {
  font-style: italic;
}
.hljs-tag {
  color: #62c8f3;
}
.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: #ade5fc;
}
.hljs-string,
.hljs-bullet {
  color: #a2fca2;
}
.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: #ffa;
}
.hljs-number,
.hljs-symbol,
.hljs-bullet {
  color: #d36363;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #fcc28c;
}
.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: #888;
}
.hljs-regexp,
.hljs-link {
  color: #c6b4f0;
}
.hljs-meta {
  color: #fc9b9b;
}
.hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}
.hljs-addition {
  background-color: #a2fca2;
  color: #333;
}
.hljs a {
  color: inherit;
}
.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
